<!DOCTYPE html>
<html lang="en">

<head>
    <div id="common-head-placeholder"></div>
    {% include 'common-head.html' %}
    
</head>


<body>
    <div>
        {% include 'header.html' %}
    </div> 

	<!-- Header Banner Start  -->
	<section class="header ">	
		<div id="loadHeaderBanner-placeholder"></div>
			<script src="/static//js/loadHeaderBanner.js"></script>
			<script>loadHeaderBanner('<div class="left-content "><h2>Contact <span class="highlight">Us</span></h2><p>Home / Contact Us</p></div>');</script>
	</section>	
	<!-- Header Banner End  -->
    

    <!-- Company Offices Start  -->

    <section class="offices section-padding">
        <div class="container">
        
            <div class="row">
                <h2 class="text-center w-100 service-heading">Contact us for  
                    <span class="highlight">our services and products</span> </h2>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="office-block">
                        <h3>EMEA office</h3>
                        <p>
                            Phone: (+xx) 5555555
                            Email: Support@xxx.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="office-block">
                        <h3>APAC</h3>
                        <p>
                            Phone: +yy (0) 4444444
                            Email: Support@xxx.com
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Company Offices End  -->

    <!-- Contact form Start  -->

    <section class="project-contact section-padding">
        <div class="container">
        <!-- Toast  -->
            <div class="row mt-5">
                <h2 class="text-center w-100 service-heading">How can we help?</h2>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <form action="/send_email" method="post" id="project-details">

                        <div class="form-group">
                            <label for="name"></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"
                                required>
                            <!--placing icon using a span element-->
                            <span class="icon fa fa-user fa-lg"></span>
                        </div>

                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your E-mail"
                                required>
                            <span class="icon fa fa-envelope fa-lg"></span>
                        </div>

                        <div class="form-group">
                            <label for="project-type"></label>
                            <select id="project-type" name="project-type">
                                <option> Select Topic</option>
                                <option value="Courses">topic 1</option>
                                <option value="Career Mentoring">topic 2</option>
                                <option value="Buidling a QA team for a company">topic 3</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea rows="5" cols="30" id="msg" name="msg" placeholder="Message"
                                style="width:100%"></textarea>
                            <span class="icon-textarea fa fa-edit fa-lg "></span>
                        </div>

                        <div class=" text-center">
                            <!-- <input type="submit" name="submit" value="Submit" class="btn btn-default"> -->
                            <button type="submit" class="btn btn-default">Submit <i class="fas fa-angle-right"></i> </button>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 centralize">
                    <div class="contact-image">
                        <img src="./static/image/Group 4408.png" alt="" class="img-fluid ml-5">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Project Contact End  -->

    <!-- Partner Start  -->

    <section class="partners section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center partner-heading">Our Business Partners</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <div class="partner">
                        <img src="./static/image/A (3).png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <div class="partner">
                        <img src="./static/image/A (4).png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <div class="partner">
                        <img src="./static/image/A (2).png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <div class="partner">
                        <img src="./static/image/A (1).png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Partner End  -->

    <div id="footer-placeholder"></div> <!-- Placeholder for the footer -->
    <!-- footer Start  -->
        <script src="./static/js/loadfooter.js"></script>
   
</body>

</html>