<!DOCTYPE html>
<html lang="en">

<head>
    <div id="common-head-placeholder"></div>
    {% include 'common-head.html' %}
</head>

<body>
<!-- Header Start  -->
<div>
	{% include 'header.html' %}
</div> 
     <!-- Header End  -->

     <!-- Header Banner Start  -->
<section class="header ">	
    <div id="loadHeaderBanner-placeholder"></div>
        <script src="/static/js/loadHeaderBanner.js"></script>
        <script>loadHeaderBanner('<div class="left-content "><h2>Service  <span class="highlight">One </span></h2><p>Home / services</p></div>');</script>
</section>	
<!-- Header Banner End  -->
    
<!-- Services Start  -->
<section class="services section-padding">
    <div class="container">
        <div class="row">
            <h2 class="text-center w-100 service-heading py-5">Learn about<br>
                <span class="highlight">Our services</span> </h2>
        </div>
    </div>
	
    <div class="container">
		<div class="row card-row-gap">
		
			<div class=" col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center">
				<div class="card service-block-card" style="width: 18rem;">
					<img src="./static/image/creative-postcard-set-blue-wall.jpg" class="card-img-top" alt="ui_design_card">
					<div class="card-body">
					  <h5 class="card-title">card-title</h5>
					  <p class="card-text">add the description in the card.</p>
					  <a href="/courses/course-details1" class="">Learn More ><i class="fas fa-angel-right"></i></a>
					</div>
				 </div>
			</div>
			
			<div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center">
				<div class="card service-block-card" style="width: 18rem;">
				<img src="./static/image/creative-postcard-set-blue-wall.jpg" class="card-img-top" alt="ui_design_card">
				<div class="card-body">
				  <h5 class="card-title">card-title</h5>
				  <p class="card-text">add the description in the card.</p>
				  <a href="/courses/course-details1" class="">Learn More ><i class="fas fa-angel-right"></i></a>
				</div>
			  </div>
			</div>
			
			<div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center">
				<div class="card service-block-card" style="width: 18rem;">
				<img src="./static/image/creative-postcard-set-blue-wall.jpg" class="card-img-top" alt="ui_design_card">
				<div class="card-body">
				  <h5 class="card-title">card-title</h5>
				  <p class="card-text">add the description in the card</p>
				  <a href="/courses/course-details1" class="">Learn More ><i class="fas fa-angel-right"></i></a>
				</div>
			  </div>
			</div>
			
			<div class=" col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center">
				<div class="card service-block-card" style="width: 18rem;">
					<img src="./static/image/creative-postcard-set-blue-wall.jpg" class="card-img-top" alt="ui_design_card">
					<div class="card-body">
					  <h5 class="card-title">card-title</h5>
					  <p class="card-text">add the description in the card</p>
					  <a href="/courses/course-details1" class="">Learn More ><i class="fas fa-angel-right"></i></a>
					</div>
				 </div>
			</div>
			
			<div class="col-md-6 col-lg-4 col-sm-12 d-flex justify-content-center">
				<div class="card service-block-card" style="width: 18rem;">
				<img src="./static/image/creative-postcard-set-blue-wall.jpg" class="card-img-top" alt="ui_design_card">
				<div class="card-body">
				  <h5 class="card-title">card-title</h5>
				  <p class="card-text">add the description in the card <a href="./service-details.html" class="">here ></a></p>
				  <a href="/courses/course-details1" class="">Learn More ><i class="fas fa-angel-right"></i></a>
				</div>
			  </div>
			</div>			
		</div>
    </div>
</section>


<section class="service-type section-padding">
    <div class="container">
        <div class="row">
            <h2 class="text-center w-100 service-heading py-5">Why Choose Our
                <span class="highlight">Company</span> </h2>
        </div>

    </div>

    <div class="container">
		<div class="row service-type-gap why-choose">
			<div class="col-md-6">
				
				<img src="./static/image/Group 1460.png" class="img-fluid">

			</div>
			<div class="col-md-6">
				<h2>Outcome 1</h2>
				<p>
                    <li><strong>Reason 1:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 2:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 3:</strong> Add here you explanation to why choosing our company services.</li>     
                    <li><strong>Reason 4:</strong> Add here you explanation to why choosing our company services.</li>
                </p>	
			</div>
		</div>
		<div class="row service-type-gap why-choose" >
			<div class="col-md-6">
				<h2>Outcome 2</h2>
				<p> 
                    
                    <li><strong>Reason 1:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 2:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 3:</strong> Add here you explanation to why choosing our company services.</li>     
                    <li><strong>Reason 4:</strong> Add here you explanation to why choosing our company services.</li>
                </p>
        </div>
        <div class="col-md-6">
            <img src="./static/image/Group 1521.png" class="img-fluid">

        </div>
    </div>
	
    <div class="row service-type-gap why-choose">
        <div class="col-md-6">
            <img src="./static/image/Group 1538.png" class="img-fluid">

        </div>
        <div class="col-md-6">
            <h2>Outcome 3</h2>
            <p> 
                <li><strong>Reason 1:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 2:</strong> Add here you explanation to why choosing our company services.</li>
                    <li><strong>Reason 3:</strong> Add here you explanation to why choosing our company services.</li>     
                    <li><strong>Reason 4:</strong> Add here you explanation to why choosing our company services.</li>
        

        </div>
    </div>
    </div>
</section>
<!--lets start-->
<section class="lets-start section-padding">
    <div class="container">
        <div class="row">
            <h2 class="text-center w-100 service-heading py-1">Are You Ready To  
                <span class="highlight">Start Your Journey?</span> </h2>
                <div class="text-center w-100 service-heading py-1" id="bottombutton">
                    <h5>We are here to help you and/or your business</h5>
					<button class="project-button-1"><a href="{{ url_for('contactus') }}">Let's Start <i class="fas fa-angle-right"></i></a></button>
                </div> 
                
        </div>


    </div>

</section>

<div id="footer-placeholder"></div> <!-- Placeholder for the footer -->
<!-- footer Start  -->
    <script src="./static/js/loadfooter.js"></script>  


</body>

</html>