<!DOCTYPE html>
<html lang="en">

<head>
    <div id="common-head-placeholder"></div>
	{% include 'common-head.html' %}
	
</head>
<body>

    <!-- Header Start  -->
	 <div>
        {% include 'header.html' %}
    </div> 
    <!-- Header End  -->

	<!-- Header Banner Start  -->
 	<section class="header ">	
    <div id="loadHeaderBanner-placeholder"></div>
        <script src="/static/js/loadHeaderBanner.js"></script>
        <script>loadHeaderBanner('<div class="left-content "><h2>Our <span class="highlight">Mission</span></h2><p>Home / team</p></div>');</script>
</section>	
<!-- Header Banner End  -->


<section class="service-type mt-5">
    <div class="container">
		<div class="row service-type-gap">
			<div class="col-md-6 centralize">
				
				<img src="./static/image/Group 1675.png" class="img-fluid mb-5">

			</div>
			<div class="col-md-6 centralize">
			<div class="team-page-description">
				<h2>Mission</h2>
				<p> 
					Our mission is to ..... add your company's mission statement 
				</p>
				
			</div>
				
			</div>
		</div>
		<div class="row service-type-gap">
			<div class="col-md-6 centralize">
				<div class="team-page-description">
				<h2>Core Values</h2>
				<p> 
					<li><strong>Excellence:</strong> We believe in delivering high-quality services and training....</li>
					<li><strong>Integrity and Transparency:</strong> Upholding the highest standards of integrity and transparency in all our interactions and transactions.</li>
					<li><strong>Teamwork:</strong> Collaborating effectively and supporting our customers and partners to achieve common goals.</li>
					<li><strong>Innovation:</strong> Embracing creativity and continuous improvement to drive progress.</li>
					<li><strong>Collaboration and Community Building:</strong> Building a supportive community of professionals and fostering collaboration within the industry.</li>
 				</p>
			</div>

			</div>
			<div class="col-md-6 centralize">
				<img src="./static/image/Group 1852.jpg" class="img-fluid" width="400" height="300" alt="Image">


			</div>
		</div>
    
    </div>
</section>

<!-- Team Section Start  -->

<section class="team section-padding">
	<div class="container">
			<div class="row"> 
				<h2 class="text-center w-100 service-heading">Our Expert
					<span class="highlight">Team</span> 
				</h2>
			</div>
		<div class="container mt-5">	
			<div class="row">	
				
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/team1.png" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>a short description of our CEO 
										</strong></p>
								</div>
							</div>
						</div>
						<h3>John Doe</h3>
									<p>CEO</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
			
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/team1.png" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>Short description of our CFO 
										</strong></p>
								</div>
							</div>
						</div>
						<h3>Jhon Doe</h3>
									<p>Chief Finance Officer</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/team1.png" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>Short description of our CPO 
										</strong></p>
								</div>
							</div>
						</div>
						<h3>Jhon Doe</h3>
									<p>Chief Product Officer</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>

			<!-- 	here is an example of a non flip card -->
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">
						<img src="./static/image/team1.png" alt="" class="img-fluid"/>
						<h3> Jhon Doe</h3>
						<p> Chief Marketing Officer </p>
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-github"></i></a></li>
						</ul>
					</div>
				</div>				
		</div>
	</div>
</section>
<!-- Team Section End  -->

<!-- Counter Section Start  -->

<section class="achivements">
	<div class="container section-padding" style="background:#b9b9b9">
		<div class="row">
			<!-- Items -->
			<div class="col-lg-3 col-md-6 d-flex justify-content-center">
				<div class="achivement-item">
					<img src="" alt="" class="img-fluid d-block mb-4"/>
					<span class="counter" data-count="1542">55</span>
					<span class="counter-plus">+</span>
					<h3>Staisfied Clients</h3>
				</div>
			</div>
			<!-- Items -->
			<div class="col-lg-3 col-md-6 d-flex justify-content-center">
			   <div class="achivement-item">
					<img src="" alt="" class="img-fluid d-block mb-4"/>
					<span class="counter" data-count="104">20</span>
					<span class="counter-plus">+</span>
					<h3>Expert Team</h3>
			   </div>
			</div>
			<!-- Items -->
			<div class="col-lg-3 col-md-6 d-flex justify-content-center">
			   <div class="achivement-item">
					<img src="" alt="" class="img-fluid d-block mb-4"/>
					<span class="counter" data-count="229">10</span>
					<span class="counter-plus">+</span>
					<h3>services Available</h3>
			   </div>
			</div>
			
			<div class="col-lg-3 col-md-6 d-flex justify-content-center">
			   <div class="achivement-item">
					<img src="" alt="" class="img-fluid d-block mb-4"/>
					<span class="counter" data-count="25">5 </span>
					<span class="counter-plus">+</span>
					<h3>Award Wining</h3>
			   </div>
			</div>
		</div>
	</div>
</section>

<!-- Team Call to Action Start  -->

<section class="section-padding team-counter "> 
	<div class="container mt-5">
		<div class="row justify-content-center">
			<h2 class="text-center w-100 service-heading">Are You Ready To 
				<span class="highlight">To Start?</span> 
			</h2>
			<p class="sub-heading text-center w-100">
				We Are Here For You From A to Z.
			</p>
			<a href="/contactus">
			<button class="mt-3">Contact Us <i class="fas fa-angle-right"></i></button>
			</a>
		</div>
	</div>
</section>
	
	<!-- Team Call to Action End  -->
	
    <div id="footer-placeholder"></div> <!-- Placeholder for the footer -->
    <!-- footer Start  -->
        <script src="./static/js/loadfooter.js"></script>

</body>

</html>